#room{
    width: 100px;
    height:100px;
    background-color:rgb(10 ,23,32,0.9);
    margin:50px;
    display:inline;
}
#class{
    width: 100px;
    height:100px;
    background-color: yellow;
    margin:30px;
    display:block
}
#logo{
    width: 100px;
    margin:40px;
    height:100px;
    background-color: blue;
    display:inline;
}