.contentbox{
    height: 30px;
    width: 10px;
     border:2px solid black;
     display:inline-block;
     background-color: rgb(83, 11, 45);
     margin:30px;
     padding:50px;
}
#navbar{
    background-color: black;
    padding: 10px;
    margin: 5px;
}
#logo{
    background-color:chartreuse;
    margin:50px;
    display: inline;


}
.selection_header{
    margin: 20px;
    padding: 10px;
   
}